:root {
    --accent-color: #C271FF;
}

/* Not sure why I need this, but if I don't, stuff doesn't look right */
body {
    margin: 0;
}

* {
    font-family: 'Source Sans Pro', source-sans-pro, sans-serif;
}

header {
    background-image: url('images/pic_1.jpg');
    background-size: cover;
    color: white;
}

strong {
    color: var(--accent-color);
}

h1 {
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 154px;
}

header h2 {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    margin-top: 168px;
    margin-bottom: 87px;
}

button {
    border: none;
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    color: white;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background-color: var(--accent-color);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
}

.three-words {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 61px;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: 19px;

}

#nav-bar {
    display: flex;
    justify-content: center;
    gap: 702px;
    padding-top: 35px;
    margin-bottom: -5px;
}
nav {
    display: flex;
    gap: 53px
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

.avatar {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

#pros {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    gap: 131px;
}

#pros div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    margin-bottom: 98px;
}

#pros div .name {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 18px;
}

#pros div .sub-title {
    font-size: 16px;
    font-style: italic;
    padding: 0;
    margin: 2px 0 0 0;
    line-height: 24px;
}

#pros div h3, #pros div p {
    margin: 5px;
}

#testimonials {
    background-color: var(--accent-color);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 33.6px;
}

#testimonials .author {
    font-weight: bold;
    font-size: 22px;
}

#testimonials .sub-title {
    font-style: italic;
}

#testimonials-container {
    display: flex;
    flex-direction: row;
    margin: 108px 247px 124px 260px;
}

#testimonials-container img {
    margin-right: 53px;
}

#testimonials-text {
    display: flex;
    flex-direction: column;
    max-height: 150px;
}

#testimonials-text * {
    margin-left: 0;
}

#testimonials-text blockquote {
    margin-bottom: 11px;
}

#testimonials-text .author {
    margin-top: 11px;
    margin-bottom: 0;
}

#testimonials-text .sub-title {
    margin-top: 0;
}

/* light */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.otf');
    font-weight: 300;
}

/* normal */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.otf');
    font-weight: normal;
}

/* semibold */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Semibold.otf');
    font-weight: 500;
}


/* bold */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Bold.otf');
    font-weight: 600;
}
